<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/4d584d86c5.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/board.css" />
    <title>simple_memo</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="logoBox">
          <img class="logoImg" src="/img/logo.jpg" alt="logo" />
        </div>
        <div class="memberInfo">
          <span class="memberName">id님 환영합니다.</span>
          <button class="memberBtn">로그아웃</button>
        </div>
      </header>
      <main>
        <div class="board">
          <div class="add_memo"><i class="fa-solid fa-plus"></i></div>
          <div class="memo">
            <textarea
              name=""
              id=""
              class="textarea"
              spellcheck="false"
            ></textarea>
          </div>
          <div class="memo">
            <textarea
              name=""
              id=""
              class="textarea"
              spellcheck="false"
            ></textarea>
          </div>
          <div class="memo">
            <textarea
              name=""
              id=""
              class="textarea"
              spellcheck="false"
            ></textarea>
          </div>
          <div class="memo">
            <textarea
              name=""
              id=""
              class="textarea"
              spellcheck="false"
            ></textarea>
          </div>
          <div class="memo">
            <textarea
              name=""
              id=""
              class="textarea"
              spellcheck="false"
            ></textarea>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
