<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>simple_memo</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/4d584d86c5.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/signupSuccess.css" />
  </head>
  <body>
    <div class="container">
      <div class="checkIcon"><i class="fa-regular fa-circle-check"></i></div>
      <p>회원가입 완료</p>
      <a href="/sign">
        <button class="loginBtn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          로그인
        </button>
      </a>
    </div>
  </body>
</html>
