.container {
  position: relative;
  min-height: 100vh;
  background-color: var(--color-background3);
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  z-index: 9;
}
.memberInfoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.memberInfoBox {
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  cursor: default;
}

.memberBtn {
  border-style: none;
  background-color: var(--color-background3);
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.logoBox {
  width: 80px;
  height: 80px;
}

.logoImg {
  width: 100%;
  height: 100%;
}

.board {
  padding: 30px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.memo,
.add_memo {
  min-width: 280px;
  min-height: 280px;
}

.colorBox1 {
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  gap: 3px;
}

.colorBox {
  position: absolute;
  top: 3px;
  right: 3px;
  display: flex;
  gap: 3px;
  opacity: 0;
}

.colorBox.active {
  opacity: 1;
}

.add_memo > .colorBox1 div {
  opacity: 0.4;
}
.add_memo > .colorBox1 div:hover {
  opacity: 0.9;
}

.add_memo > .colorBox1 div.add_selected {
  opacity: 0.9;
}

.colorBox1 div,
.colorBox div {
  width: 15px;
  height: 15px;
}
.color1 {
  border: 1px solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  background-color: var(--color-memo1);
}
.color2 {
  border: 1px solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  background-color: var(--color-memo2);
}
.color3 {
  border: 1px solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  background-color: var(--color-memo3);
}
.color4 {
  border: 1px solid rgba(0, 0, 0, 0.7);
  cursor: pointer;
  background-color: var(--color-memo4);
}
.color1,
.color2,
.color3,
.color4 {
  opacity: 0.4;
}
.color1.over,
.color2.over,
.color3.over,
.color4.over {
  opacity: 0.9;
}
.color1.memo_selected,
.color2.memo_selected,
.color3.memo_selected,
.color4.memo_selected {
  opacity: 0.9;
}

.add_memo {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  vertical-align: top;
  line-height: 100px;
  font-size: 150px;
  color: white;
}

.memo {
  position: relative;
  background-color: var(--color-memo1);
}

.memo.color1 {
  opacity: 1;
  background-color: var(--color-memo1);
}
.memo.color2 {
  opacity: 1;
  background-color: var(--color-memo2);
}
.memo.color3 {
  opacity: 1;
  background-color: var(--color-memo3);
}
.memo.color4 {
  opacity: 1;
  background-color: var(--color-memo4);
}

.textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  cursor: auto;
}
/* 스크롤바 설정*/
.textarea::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바 막대 설정*/
.textarea::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
}

/* 스크롤바 뒷 배경 설정*/
.textarea::-webkit-scrollbar-track {
  background-color: #cacaca;
}

/* 녹음 */
.record {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 1.5rem;
  color: var(--color-record);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
}

.record.active {
  color: white;
  background-color: var(--color-record);
}

.record.inactive:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.record.inactive:active {
  background-color: rgba(210, 210, 210, 0.9);
}

@media screen and (max-width: 1536px) {
  .board {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1280px) {
  .board {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .board {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .board {
    grid-template-columns: repeat(1, 1fr);
  }
}
